html{scroll-behavior:smooth}
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
  }
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(86, 136, 66, 0.70); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(86, 136, 66); 
}
#head {
  position: relative;
}

.bg_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 14px 30px;
  overflow: hidden;
 
   /* background-color: rgba(71, 167, 33, 0.699); */
}
.bg_nav li {
  float: right;
  
}
.bg_nav li a {
  font-size: 18px;
  position: block;
  margin-top: 200px;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

