/* style-login-page */
.form-login{
    font-family: 'Montserrat', sans-serif;

    text-align: center;
    width: 25%;
    margin: 0 auto;
    padding: 1%;
    background-color: white;
}

input[type=text]{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}
input[type=submit] {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-color:#34495E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#button-sign-up{
    background-color: white;
    border: 2px solid #5D6D7E ;
    color: black;
}
#button-sign-up:hover{
    color: white;
    background-color: #45a049;
}
input[type=submit]:hover {
    
    background-color: #45a049;
}
#forget-pass{
    font-size: 12px;
    color: #7F8C8D;
}

.html-login{
    background-color: #ABEBC6;
    
}

.body-form{
    margin: 10%;
}

/* style-choose-cup-page */
.html-choose{
    font-family: 'Montserrat', sans-serif;
}
.shop-select{ /*select option shop name*/
    color:#808080;
}

.choose-cup{
    text-align: center;
}

#button-next16oz{
    width: 15%;
    border-radius: 50px;
    background-color: #82E0AA;
}

/* thank-you-page */
.choose-thanks{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#img-cup{
    width: 20%;
    height: 20%;
}

#go-to-main{
    width: 12%;
    color: white;
    border-radius: 50px;
    background-color:#E67E22 ;
}

#go-to-login{
    width: 12%;
    color: #E67E22;
    border-radius: 50px;
    background-color: white;
    border: 2px solid #E67E22;
}


/* show Rank page */
.html-rank{
    font-family: 'Montserrat', sans-serif;
    width: 25%;
    padding: 10%;
    margin: 0 auto;
    
}
#pic-profile{
    border-radius: 20%;
    background: rgb(237, 237, 237);
}
.rank{
    text-align: center;
    padding-bottom: 20%;
}

#display-rank{
    margin: 0 auto;
  
    border-radius: 50%;
    background: rgb(237, 237, 237);
}
#numRank{
    padding-top: 27%;
}
.point-line{
    display: inline;
}
#sign-out{
    text-align: center;
}
#button-signOut{
    
    width: 75%;
    border-radius: 20px;
    font-weight: bold;
    background-color: white;
    border: 2px solid #5D6D7E ;
    color: black;
}

/* loading page */
.html-load{
    background-color: #FFFF88;
}

.body-load{
  
    margin: 10%;
    text-align: center;
}

#img-logo{
    
    margin: 0 auto;
}


/* Explore page */

#title-header{
    float: left;
}
.header-bar{
  
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.body-explore{
    
    font-family: 'Montserrat', sans-serif;
    
  }

  /* div-Now save  */
.total-save{
    text-align: center;
    margin: 0 auto;
    
    
}
.total{
    border: none;
    border-radius: 25px;
    padding: 5%;
    background-color: #84FFBB ;
}

.row:after {
    
    content: "";
    display: table;
    clear: both;
  }

.col-exp{
    margin:0 auto;
    text-align: center;
    float: left;
    width: 50%;
    
    height: 300px; /* Should be removed. Only for demonstration */
}
 

.scan{
    font-size: 150%;
    height:  50%;
    margin-top:5%;
    margin-right: 2.5%;
    padding: 5%;
    border-radius: 25px;
    background-color: #84FFBB;
}

.ranking{
    font-size: 160%;
    height:  75%;
    margin-top:5%;
    margin-right: 2.5%;
    margin-bottom: 0 auto;
    padding: 10%;
    border-radius: 25px;
    background-color: #F5B041;
}

.your-save{
    font-size: 150%;
    margin-top:5%;
    margin-left: 2.5%;
    height:  75%;
    margin-bottom: 0 auto;
    padding: 5%;
    border-radius: 25px;
    background-color: #F5B041;
}
.ht-use{
    font-size: 110%;
    height:  60%;
    margin-top:5%;
    margin-left: 2.5%;
    padding: 7%;
    border-radius: 25px;
    background-color: #84FFBB;
}
.menu{
    
    color: #145A32 ;
    margin: 2.5%;
}